<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">About</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>
<!-- <div class="jumbotron">
<div class ="container">
    <div class="row">
        <div class="col-sm-9 offset-sm-3">
            <app-about></app-about>
        </div>
    </div>
</div>
</div> -->

<!-- main app container -->
<!-- <div class="jumbotron"> -->
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <app-alert></app-alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
<!-- </div> -->